<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

  <title>Transactions</title>
</head>

<body>

<div class="container">

  <h3>Transaction Directory</h3>
  <hr>

  <input type="hidden" th:field="*{stock.id}">
  <a th:href="@{/stocks/addTransaction(stockId=${stock.id})}"
     class="btn btn-primary btn-sm mb-3">
    Add Transaction
  </a>

  <table class="table table-bordered table-striped">
    <thead class="table-dark">
    <tr>
      <th>Transaction ID</th>
      <th>Quantity</th>
      <th>Broker</th>
      <th>Date</th>
      <th>Base Currency</th>
      <th>Amount funded</th>
      <th>Destination Currency</th>
      <th>Amount funded</th>
      <th>Action</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="theTransaction : ${transactions}">

      <td th:text="${theTransaction.transactionId}" />
      <td th:text="${theTransaction.transactionQuantity}" />
      <td th:text="${theTransaction.broker}" />
      <td th:text="${theTransaction.dateOfBuy}" />
      <td th:text="${theTransaction.baseCurrencyId}" />
      <td th:text="${theTransaction.fundedBase}" />
      <td th:text="${theTransaction.destinationCurrencyId}" />
      <td th:text="${theTransaction.fundedDestination}" />
      <td>
<!--        <a th:href="@{}"
           class="btn btn-primary">
          Update
        </a>
        <a th:href="@{}"
           class="btn btn-primary">
          Delete
        </a>-->
      </td>
    </tr>
    </tbody>
  </table>

</div>

</body>
</html>